div:where(.swal2-container) div:where(.swal2-popup) {
  padding: 0 0 1em !important;
}

div:where(.swal2-icon) {
  zoom: 0.6 !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 1rem !important;
}

.card-table {
  position: relative;
  overflow: hidden;
}

.linear-progress-content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #b3e5fc;
  border-radius: 4px;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.linear-progress-content.active {
  opacity: 1;
}

.linear-progress {
  position: relative;
  width: 100%;
  height: 100%;
}

.linear-progress:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #03a9f4;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.linear-progress:after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #4fc3f7;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
